.App-header {
  align-items: center;
  background-color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.App-header h2 {
  margin: 0;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.cart-icon:hover {
  transform: scale(1.1);
}

.head {
  color: white;
}

.header-actions {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.header-actions button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}

.header-actions button:hover {
  background-color: #0056b3;
}
