.login-container {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 400px;
  padding: 2rem;
}

.login-container button[type="button"] {
  background-color: #6c757d;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.75rem;
  transition: background-color 0.3s ease;
}

.login-container button[type="button"]:hover {
  background-color: #5a6268;
}

.login-container button[type="submit"] {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.75rem;
  transition: background-color 0.3s ease;
}

.login-container button[type="submit"]:hover {
  background-color: #0056b3;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.login-container input[type="password"],
.login-container input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}

.login-container label {
  font-size: 1rem;
  margin-bottom: 1rem;
}
